{% layout none %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/font.css">
	<style type="text/css">
		body{
			background: url('http://cdn.shopify.com/s/files/1/0249/5382/files/bground.jpg?3457') no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  font-family: 'Open Sans', sans-serif;
		}

		.center{
			margin: auto;
		  position: absolute;
		  top: 0; left: 0; bottom: 0; right: 0;
			text-align: center;
		}

		.container{
			background: rgba(255,255,255,0.4);
			max-width:600px;
			min-height:520px;
		}

		#header{
			font-style: italic;
			font-family: 'Vollkorn', serif;
		}

		#subheader{
			font-family: 'Raleway', sans-serif;
			text-transform: uppercase;
			font-size: 15px;
			color: #000;
			line-height: 20px;
		}

		#canvas{
		  background-color: #000;
		  width:300px;
		  height:10px;
		  margin: 0 auto;
		  margin-bottom: 15px;
		}

		#social{
			list-style: none;
		}

		#social li { 
			display: inline; 
			padding-right: 20px;
		}

		/*#social img {
			height:auto;
			width:80%;
		}*/

		form{

		}

		input {
			margin-bottom:5px; 
			width:200px;
			text-align: center;
		}
		button {width: 200px;}

		.logo{width:210px;}
	</style>
</head>
<body>
	<div class="container center">
		<div id="canvas"></div>
		<img src="//cdn.shopify.com/s/files/1/0249/5382/files/logo.png" class="logo">
		<h1 id="header">Win a SEELOVEMINE outfit!</h1>
		<h2 id="subheader">Enter to win our girl's outfit giveway <br/>winner announced friday on facebook</h2>
		<p>To increase your chance of winning, make sure you are following us!</p>
		<ul id="social">
			<li><a href="https://twitter.com/seelovemine"><img src="//cdn.shopify.com/s/files/1/0249/5382/files/twitter_360.png" alt="" /></a></li>
			<li><a href="https://www.facebook.com/seelovemine"><img src="//cdn.shopify.com/s/files/1/0249/5382/files/facebook_360_small.png?3463" alt="" /></a></li>
			<li><a href="http://instagram.com/seelovemine"><img src="//cdn.shopify.com/s/files/1/0249/5382/files/instagram_360.png" alt="" /></a></li>
			<li><a href="http://www.pinterest.com/seelovemine"><img src="//cdn.shopify.com/s/files/1/0249/5382/files/pinterest_360.png" alt="" /></a></li>
		</ul>
		<p>Now, enter the giveaway and get 15% off right now!</p>
		<form role="form" action="//seelovemine.us3.list-manage.com/subscribe/post?u=26166bc9248a7ee2b016a4570&amp;id=b5f043ffc7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		  <div class="form-group">
		    <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Name"><br>
		    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address"><br>
		    <div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		  	<button input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" class="btn btn-default">ENTER GIVEAWAY</button>
		  </div>
	  </form>
	  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
		<script type='text/javascript'>
		(function($) {
		window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='COMPANY';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='address';fnames[5]='MMERGE5';ftypes[5]='address';fnames[6]='MMERGE6';ftypes[6]='address';fnames[7]='MMERGE7';ftypes[7]='address';fnames[8]='MMERGE8';ftypes[8]='address';fnames[9]='MMERGE9';ftypes[9]='address';fnames[10]='MMERGE10';ftypes[10]='address';fnames[11]='MMERGE11';ftypes[11]='address';fnames[12]='PHONE';ftypes[12]='phone';fnames[13]='MMERGE13';ftypes[13]='text';fnames[14]='MMERGE14';ftypes[14]='number';fnames[15]='MMERGE15';ftypes[15]='number';fnames[16]='MMERGE16';ftypes[16]='text';fnames[17]='MMERGE17';ftypes[17]='text';
		}(jQuery));
		var $mcj = jQuery.noConflict(true);
		</script>
	  <p><a>No thanks, I don't like the outfit you are giving away.</a></p>
	  <p>Upon entry, you consent to recieving SLM emails.</p>
	</div>
</body>
</html>